* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    border: none;
}


/*-----------------------------------------------------HEADER---------------------------------------------------------*/
header {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #FFC500;
}

.header__inner {
    width: 1140px;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.user-menu {
    display: flex;
    align-items: center;
}

.user-menu .login, .register, .admin-panel, .logout {
    padding: 14px;
    margin-left: 15px;
    font-size: 21px;
}

.user-menu a {
    color: white;
}


.login, .register, .admin-panel, .logout {
    border-radius: 8px;
    background-color: black;
    cursor: pointer;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
}

.title span {
    font-size: 45px;
    font-weight: 700;
}

.title {
    margin-top: 10px;
}

.profile_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    border-radius: 50%;
}

.username {
    font-size: 21px;
}

/*-------------------------------------------------END----------------------------------------------------------------*/

/*-------------------------------------------------CONTENT------------------------------------------------------------*/

.content {
    width: 1300px;
    margin: 0 auto 0 auto;
    padding-top: 5px;
}

.card {
    display: flex;
    border-radius: 10px;
    padding: 8px;
    border: 2px solid #FFC500;
    margin: 5px;
}

.card-title-image_wrapper {
    margin-right: 15px;

}

.card-content {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.card-title {
    font-size: 40px;
    margin-bottom: 15px;
}


.card-body {
    font-size: 22px;
    min-height: 50px;
}

.published {
    padding-top: 15px;
    color: grey;
}


.card-footer {
    display: flex;
    justify-content: space-between;
}

.read, .change-link{
    background-color: #FFC500;
    font-size: 21px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

.post-title{
    text-align: center;
    font-size: 99px;
}

.post-info{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.post-info * {
    color: grey;
}

.pagination{
    text-align: center;
    font-size: 24px;
}

.post-body{
    margin-top: 15px;
    font-size: 44px;
}